@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap);

body{
  font-family: "Noto Sans TC", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1 {
  text-transform: none;
}
body {
  background-color: #2D3142;
  background-image: url("https://www.transparenttextures.com/patterns/cross-stripes.png");
}
.navbar {
  background-color: #004F87 !important;
  background-image: url("https://www.transparenttextures.com/patterns/grey-washed-wall.png") !important;
}
.nav-item a:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}
h1,h2,h3,h4 .text-primary {
  color:#FFFFFF;
}
.lead {
  color: #bfc0c0;
}
.subheading {
  color: #FFFFFF !important;
}
.social-icons :hover {
  background-color: #ffffff !important;
  color: #000000;
}
.custom-text-color {
  color: #228cdb;
  transition: color 0.5s ease; 
}
.custom-text-color:hover{
  color: #ffffff;
  transition: color 0.5s ease;    
}
.wrapper {
  overflow: hidden;
  border-radius: 60%;
  width: 400px;
  height: 400px;
  scale: 0.4;
}
.pedro {
  scale: 1.1;
}
@keyframes bounce{
  to { translate: 0 20px; }
}
.pedro {
  animation: bounce 200ms
    linear infinite alternate;
}
@keyframes spin {
  to { rotate: -1turn; }
}
.wrapper {
  animation: spin 10s
    linear infinite;
}